
body {
  padding: 50px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, arial, sans-serif;
}

p {
  width: 40%;
}

a {
  text-decoration: none;
  color: #DB2C09;
}

a:hover {
  text-decoration: underline;
  color: #F36042;
}

h1 {
  font-size: 20px;
  border-left: 10px solid #eee;
  padding-left: 15px;
}

h2 {
  font-size: 16px;
}

pre {
  font: 13px monaco, monospace;
  padding: 15px;
  color: #111;
  color: #666;
}

pre#source {
  border-left: 2px solid #eee;
  max-height: 200px;
  overflow-y: auto;
}

.doc {
  margin-top: 30px;
}

.doc h1 {
  margin: 0;
}

.doc h1 a {
  color: inherit;
}

.doc .contents {
  margin: 30px;
}

.doc.hide {
  margin-top: 1px;
}

.doc.hide .contents {
  display: none;
}

#toggle {
  position: fixed;
  bottom: 15px;
  right: 40px;
}

/* scrollbar */

html {
  overflow: auto;
}
body {
  position: absolute;
  top: 5px;
  left: 10px;
  bottom: 5px;
  right: 10px;
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x:hidden;
}

::-webkit-scrollbar{background:#eee;width:2px}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:start:increment{display:none}
::-webkit-scrollbar-track{border:1px solid rgba(255,255,255,0.3)}
::-webkit-scrollbar-track-piece{background:transparent}
::-webkit-scrollbar-thumb:vertical{height:30px;-webkit-transition:background-color 300ms ease-out;-moz-transition:background-color 300ms ease-out;background:rgba(199,199,199,0.8);}
::-webkit-scrollbar-thumb:vertical:window-inactive{background:rgba(199,199,199,0.2)}
